<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>HWC Calculator Home</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="../js/jquery_3.2.1.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
</head>

<body>

<p>Stock Graph</p>

<div id="container" style="width:100%; height:400px;"></div>

<script>
	$('document').ready(function(){
		
		$.ajax({
		    url: '../yahooTest.php',
		    type: "POST",
            data: ({type: 'twoHundredDay'}),
		    async: false,
		    success: function(data) {
		        useReturnData(data);
		    }
		});

		$.ajax({
		    url: '../yahooTest.php',
		    type: "POST",
            data: ({type: 'fiftyDay'}),
		    async: false,
		    success: function(data) {
		        useFiftyData(data);
		    }
		});

		$.ajax({
		    url: '../yahooTest.php',
		    type: "POST",
            data: ({type: 'eightTeenDay'}),
		    async: false,
		    success: function(data) {
		        useEightData(data);
		    }
		});

		$.ajax({
		    url: '../yahooTest.php',
		    type: "POST",
            data: ({type: 'historicClose2'}),
		    async: false,
		    success: function(data) {
		        useHistoricClose(data);
		    }
		});

		function useReturnData(data){
		    window.returns = JSON.parse(data);
		};

		function useFiftyData(data){
			window.fifty = JSON.parse(data);
		}

		function useEightData(data){
			window.eight = JSON.parse(data);
		}

		function useHistoricClose(data){
			window.historic = JSON.parse(data);
			//console.log(window.historicClose);
		}

		//window.returns = [200,500,10000,10000000];

    	$(function () { 
		    var myChart = Highcharts.chart('container', {
		        chart: {
		            type: 'line'
		        },
		        title: {
		            text: 'MSFT'
		        },
		        yAxis: {
		            title: {
		                text: 'Moving Average'
		            }
		        },
		        series: [{
			        name: 'SMA200',
			        data: window.returns,
			        turboThreshold: 0
			    },
			    {	name: 'SMA50',
			    	data: window.fifty,
			    	turboThreshold: 0
			    },
			    {	name: 'SMA18',
			    	data: window.eight,
			    	turboThreshold: 0
			    },
			    {	name: 'Stock',
			    	data: window.historic,
			    	turboThreshold: 0
			    }
			    ]
		    });
		});
	});
</script>

</body>

</html>